footer {
    background-color: rgb(43, 44, 45);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer nav, p, a{
    margin: 5px;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
}
